@charset "UTF-8";

共通 html {
  scroll-behavior: smooth;
}

body {
  overflow-x: auto;
  /* 横スクロールバーを有効化 */
  overflow-y: hidden;
  /* 縦スクロールは無効化 */
  background-color: #f5f4e9;
}

.wrapper {
  display: flex;
  overscroll-behavior: none;
  width: 500%;
  /* 各セクションの合計幅を指定 */
  height: 100vh;
  overflow: hidden;
}

section {
  flex: 1 0 100vw;
  /* 各セクションをビューポート幅に */
  position: relative;
  height: 100vh;
  /* 各セクションの高さをビューポートに */
  padding: 140px 0 100px 0;
}

.heading__h2-sp {
  display: none;
  font-size: 16px;
}

.header__nav-sp {
  display: none;
}

@media screen and (max-width:767px) {
  body {
    padding: 0 35px;
    overflow-x: hidden;
    /* 横スクロールバーを無効化 */
    overflow-y: auto;
    /* 縦スクロールは有効化 */
    background-color: #f5f4e9;
  }

  section {
    flex: auto;
    position: relative;
    width: 100%;
    height: auto;
  }

  .wrapper {
    display: block;
    width: 100%;
    height: auto;
    overflow: inherit;

    overscroll-behavior: none;
  }

  .header__nav {
    display: none;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .hamburger span {
    position: absolute;
    top: 15px;
    width: 20px;
    height: 2px;
    margin: 0;
    border-radius: 3px;
    background-color: #493c33;
  }

  .hamburger span::before {
    position: absolute;
    top: -12px;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background-color: #493c33;
    content: "";
    transition: .3s;
  }

  .open span {
    display: block;
    position: relative;
    top: -10px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: 3px solid #f5e4d7;
    /* 背景の薄い色 */
    border-radius: 50%;
    background-color: transparent;
  }

  .open span::before {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    /* 線の位置を調整 */
    width: 30px;
    height: 30px;
    border: 5px solid #ffffff;
    border-color: #ea9791;
    /* 下と右のみに色をつける */
    border-radius: 50%;
    background-color: transparent;
  }

  .heading__h2-sp {
    display: block;

    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}


/* header */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  position: fixed;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 10px;
  width: 100vw;
  z-index: 2;
}

.header__inner p {
  width: 80px;
  font-size: 24px;
}

.header__nav {
  gap: 80px;
}

.header__nav-sp {
  display: none;
}

.sns {
  display: flex;
  gap: 80px;
}

.sns div {
  width: 30px;
  height: auto;
}

/* header-btn */
.btn-loading {
  display: inline-block;
  opacity: 1 !important;
  position: relative;
  width: 130px;
  height: 66px;
  overflow: hidden;
  border-radius: 100%;
  color: #493c33;
  font-size: 16px;
  line-height: 66px;
  text-decoration: none;
  text-align: center;
  transition: all .8s ease;
}

.btn-loading a:hover {
  color: #493c33;
}

.btn-loading a:hover:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border: 2px solid transparent;
  /* 初期は透明 */
  border-top-color: #da3832;
  /* 初期の一部の色 */
  border-radius: 50%;
  content: "";
  animation: border-spin 2s linear infinite;
  /* ホバー時のアニメーション */
}

@keyframes border-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: #da3832 transparent transparent transparent;
  }

  25% {
    border-color: #da3832 #da3832 transparent transparent;
  }

  50% {
    border-color: #da3832 #da3832 #da3832 transparent;
  }

  75% {
    border-color: #da3832 #da3832 #da3832 #da3832;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #da3832 #da3832 #da3832 #da3832;
  }
}

.header__nav ul {
  display: flex;
  gap: 80px;
  font-size: 16px;
}

@media screen and (max-width:1000px) {
  .header__nav ul {
    gap: 30px;
  }
}

@media screen and (max-width:767px) {
  .header__inner p {
    width: 45px;
    font-size: 14px;

  }
}

/* 「ツナグデザイン」配置 */
.site-title {
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

.site-title .title-pc {
  margin: 0;
  font-size: 48px;
  font-family: "FOT-筑紫Aオールド明朝 Pr6N L", "FOT-筑紫オールド明朝 Pro R", "TsukuOldMinPro-R", serif;

  writing-mode: vertical-rl;
}

.title-sp {
  display: none;
}

/* mainvisual */
.mainvisual {
  position: relative;
}

.top_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  margin: 0 auto;
  content: "";
}

.title_image {
  display: flex;
}

/* スクロールバー */
.toppage_common-navi_controller {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: var(--layout-position-right);
  bottom: 20px;
  z-index: 60;
  width: 100vw;
  min-height: 2.75rem;
  padding-right: 5vw;

  gap: 8rem;
}

.common-page>span {
  display: block;
}

.common-navi_scrollbar {
  display: flex;

  gap: 80px;
}

.common-scrollbar_input {
  width: 400px;
  height: 2px;
  margin-left: 2px;
  border: 0;
  border-radius: 0;
  background: #493c33;
  outline: none;

  -webkit-appearance: none;
  appearance: none;
  --size: 1rem;
}

/* スライダーのthumb（丸）のスタイルを変更 */
input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  /* thumbの幅 */
  height: 16px;
  /* thumbの高さ */
  border: 2px solid #493c33;
  /* thumbの外枠の色 */
  border-radius: 50%;
  /* 丸形にする */
  background: #fcfbf5;
  /* ここで色を変更（赤に変更した例） */
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
}

.common-page {
  display: flex;
}

.work_common-navi_copyright {
  transform: rotate(90deg);
}

.title-sp {
  display: none;
}

.scroll-image img {
  display: none;
}

@media screen and (max-width:767px) {
  .header__inner p {
    position: fixed;
    left: 20px;
    font-size: 16px;
  }

  .header__nav-sp {
    opacity: .5;
    position: fixed;
    top: -50px;
    right: -200px;
    z-index: 9998;
    width: 65%;
    height: 35vh;
    border-radius: 42% 58% 51% 49% / 49% 43% 57% 51%;
    background-color: #da3832;
  }

  .header__nav-sp ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 120px;
    left: 95px;
    text-align: left;
    gap: 10px;
  }

  /* スクロールバー */
  .toppage_common-navi_controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    gap: 8rem;
  }

  .common-navi_scrollbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 300px;
    right: -100px;
    transform: rotate(90deg);
    gap: 15px;
  }

  .common-page {
    font-size: 13px;
    /* position: fixed;
        top: 30px;
        left: -30px; */
  }

  .common-page>span {
    display: block;
  }

  .common-scrollbar_input {
    width: 220px;
    height: 2px;
    margin-left: 2px;
    border: 0;
    border-radius: 0;
    background: #493c33;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    --size: 1rem;
  }

  .common-navi_copyright {
    position: fixed;
    right: -30px;
    bottom: 80px;
    transform: rotate(90deg);
    font-size: 13px;
  }

  .sns {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 25px;
    bottom: 200px;
    padding-top: 75px;
    gap: 15px;
  }

  .header__nav-sp li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f4e9;
    color: #f5f4e9;
    font-size: 16px;
  }

  .top_image {
    position: static;
    transform: none;
    max-width: 60%;
    padding-bottom: 20px;
  }

  .title_image {
    display: block;
  }

  .site-title {
    display: none;
  }

  .title-sp {
    display: block;
    text-align: end;
    padding-right: 16%;
    padding-bottom: 55px;
    font-size: 26px;
    font-weight: bold;
  }

  .scroll-image img {
    display: block;
    width: 50%;
    margin: 0 auto;
    height: auto;
  }

  /* フワフワアニメーション */
  @keyframes fuwafuwa {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  /* このクラスをつけると回転を無限に繰り返す */
  .scroll-image img {
    animation: 3s fuwafuwa infinite;
  }
}

/* profile */
h2 {
  font-size: 4vw;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_photo {
  max-width: 45%;
  height: auto;
  padding: 0 90px;
}

.profile_sentence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.profile_name .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.designer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_sentence span {
  font-size: 48px;
  padding: 0 50px;
}

.profile_name p {
  font-size: 24px;
}

.sentence {
  font-size: 16px;
  line-height: 1.5;
}

.profile .button {
  display: inline-block;
  margin: 30px 0;
  padding: 20px 120px;
  background: #fcfbf5;
  border: 2px solid #493c33;
  color: #493c33;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-duration: .8s;
  -webkit-transition-duration: .8s;
}

.profile .button:hover {
  opacity: .5;
}

.button span {
  font-size: 16px;
}

@media screen and (max-width:767px) {
  .profile {
    display: block;
    padding-top: 0;
  }

  .profile_photo {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
  }

  .profile_sentence span {
    padding: 0;
  }

  .profile_name {
    padding: 20px 0;
  }

  .profile_name h2 {
    font-size: 26px;
  }

  .profile_name p {
    font-size: 12px;
  }

  .profile_name .designer {
    font-size: 14px;
  }

  .sentence {
    font-size: 14px;
    width: 70%;
  }

  .profile .button {
    width: 50%;
    padding: 15px 0px;
    border-radius: 50px;
  }
}

/* work */
.work {
  padding: 100px 5vw;
}

.work__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1210px;
  margin: 0 auto;
  row-gap: 55px;
  width: 70%;
}

.onimg {
  position: relative;
  width: 29%;
  max-width: 350px;
}

.onimg .cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: auto;
  margin: 0;
  margin: auto;
  background-color: transparent;
  transition-property: opacity;
  transition-duration: .8s;

  -webkit-transition-duration: .8s;
  -webkit-transition-property: opacity;
}

.onimg:hover .cursor {
  opacity: 1;
}

.onimg:hover img {
  opacity: 0.8;
}

@media screen and (max-width:767px) {
  .work__inner {
    flex-direction: column;
    padding-bottom: 55px;
    width: 70%;
  }

  .onimg {
    width: 100%;
  }
}

/* skill */
.skill {
  position: relative;
}

.skill__inner {
  display: flex;
  align-items: center;
  position: relative;
  transform: translate(-5vw, -140px);
  max-width: 775px;
  height: 100vh;
  margin: 0 auto;
}

.skill_box {
  height: 100vh;
}

.skill_box ul {
  width: 100%;
}

.skill_box li>div {
  position: relative;
  width: 100%;
  max-width: 730px;
  margin-bottom: 40px;
  padding: 30px 0;
  border: 2px solid #493c33;
  border-radius: 12px;
  background-color: #fcfbf5;
}

.skill_box li>div::before {
  position: absolute;
  right: -30px;
  bottom: -10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
}

.skill_box .box1::before {
  background-image: url(../images/line_graphic.png);
}

.skill_box .box2::before {
  background-image: url(../images/line_graphic.png);
}

.skill_box .box3::before {
  background-image: url(../images/line_tool.png);
}

.skill_box li>div>p {
  max-width: 605px;
  margin: 0 auto;
  font-size: 24px;
}

.skill li {
  display: flex;
  align-items: center;
}

.subtitle {
  font-weight: bold;
  font-size: 24px;

  writing-mode: vertical-rl;
}

.skill_box {
  position: relative;
  background-color: transparent;
}

.tool__inner {
  display: flex;
  justify-content: space-between;
  max-width: 605px;
  margin: 0 auto;
}

.postscript {
  position: absolute;
  right: -200px;
  bottom: 130px;
  font-size: 24px;

  writing-mode: vertical-rl;
}

.coffee_postscript {
  display: flex;
  flex-flow: column;
}

.sax {
  position: absolute;
  bottom: 15rem;
  left: 6rem;
  max-width: 225px;
  height: auto;
  padding-right: 60px;
}

.coffee {
  position: absolute;
  top: -3rem;
  right: 3rem;
  max-width: 156px;
  height: auto;
}

@media screen and (max-width:1000px) {
  .skill__inner {
    max-width: 500px;
  }

  .skill_box li>div {
    padding: 30px 10px;
  }
}

@media screen and (max-width:767px) {
  .skill li {
    display: block;
  }

  .skill__inner {
    display: block;
    transform: none;
    width: 70%;
    height: auto;
  }

  .skill .subtitle {
    font-size: 16px;
    writing-mode: unset;
    display: flex;
    align-items: center;
    /* 垂直中心 */
    justify-content: flex-start;
    /* 水平中心 */
  }

  .skill .subtitle:after {
    border-top: 1px solid #493c33;
    content: "";
    width: 50rem;
    margin-left: 1em;
  }

  .skill_box li>div {
    border: none;
    background-color: unset;
  }

  .skill_box li>div>p {
    font-size: 14px;
  }

  .skill_box .box1::before,
  .skill_box .box2::before,
  .skill_box .box3::before {
    background-image: none;
  }

  .tool__inner {
    flex-direction: column;
  }

  .postscript {
    position: static; /*ポジションリセット*/
    font-size: 14px;
    margin: 0 auto;
    writing-mode: unset;
  }

  .sax {
    display: none;
  }

  .coffee {
    display: none;
  }
}

/* contact */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-left: 100px;
}

.c-form__label {
  padding-top: 15px;
  padding-left: 20px;
}

#field-name {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3", serif;
  color: #cccccc;
}

#field-mail {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3", serif;
  color: #cccccc;
}

#field-message {
  width: 100%;
  height: 180px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  font-family: "ヒラギノ明朝 ProN W3", serif;
  color: #cccccc;
}

.c-form__item {
  display: flex;
  flex-direction: column;
}

.attention {
  padding: 15px 15px;
}

.after-sending {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.c-form__submit {
  text-align: center;
}

.c-form__submit button {
  display: inline-block;
  padding: 20px 120px;
  border: 2px solid #493c33;
  border-radius: 50px;
  background-color: #fcfbf5;
  font-size: 16px;
  text-align: center;
}

.last-title {
  display: none;
}

/* 送信後メッセージを出す */
.after-sending p {
  writing-mode: vertical-rl;
  font-size: 24px;
  display: none;
}

.after-sending img {
  width: 45%;
  height: auto;
  padding: 0 60px;
}


@media screen and (max-width:1200px) {
  .after-sending img {
    max-width: 200px;
  }

  .c-form__input {
    width: 70%;
  }
}

@media screen and (max-width:767px) {
  .contact {
    display: block;
    padding: 0;
  }

  .c-form {
    width: 70%;
    margin: 0 auto;
  }

  .after-sending p {
    display: none;
  }

  .c-form__submit button {
    width: 65%;
    padding: 15px 0px;
  }

  .after-sending img {
    display: none;
  }

  .last-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 45px 0 75px 0;
  }
}

/* workページ */
.work-body {
  overflow-x: hidden;
  /* 横スクロールバーを無効化 */
  overflow-y: auto;
  /* 縦スクロールは有効化 */
  background-color: #f5f4e9;
  padding-bottom: 3vh;
}

.work_common-navi_controller {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  bottom: 5rem;
  right: 0;
  gap: 8rem;
}

.work_common-navi_scrollbar {
  display: flex;
  transform: rotate(90deg);
  gap: 75px;
}

.work_common-page>span {
  display: block;
}

.work_common-scrollbar_input {
  --size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: #493c33;
  height: 2px;
  width: 300px;
  margin-left: 2px;
  border-radius: 0;
  border: 0;
}

.work_sns {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 75px;
  position: fixed;
  bottom: 250px;
  right: 4rem;
}
.work_common-navi_copyright{
  position: fixed;
  bottom: 100px;
  right: 0px;
}


.work_section {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

h3 {
  font-size: 24px;
  position: relative;
}

h3:before {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  bottom: -10px;
  left: 3%;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #493c33;
}

.work_text {
  display: inline-block;
  position: fixed;
  top: 300px;
  left: 10%;
  padding-right: 100px;
}

.work_text p {
  font-size: 16px;
  padding-top: 24px;
}

.work_image {
  position: relative;
  top: -600px;
  width: 35%;
  margin-right: 15%;
  margin-left: auto;
}

.work_image .first {
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 30px;
  padding: 70px 80px;
  margin-bottom: 100px;
}

.work_image .second {
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 30px;
  padding: 70px 80px;
}

@media screen and(max-width:767px) {
  .work-pc{
    display: none;
  }
}
