@charset "UTF-8";

/* 共通 */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: auto;
  /* 横スクロールバーを有効化 */
  overflow-y: hidden;
  /* 縦スクロールは無効化 */
  background-color: #f5f4e9;
}

.wrapper {
  display: flex;
  overscroll-behavior: none;
  width: 500%;
  /* 各セクションの合計幅を指定 */
  height: 100vh;
  overflow: hidden;
}

section {
  flex: 1 0 100vw;
  /* 各セクションをビューポート幅に */
  position: relative;
  height: 100vh;
  /* 各セクションの高さをビューポートに */
  padding: 140px 0;
}

.balloon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: -10;
}

.balloon_1 {
  width: 100%;
  position: absolute;
  bottom: 100%;
  animation: move 20s infinite linear;
}

.balloon_2 {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 100%;
  animation: move 15s infinite linear;
}

.balloon_3 {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, -50%);
  animation: move 25s infinite linear;
}

@keyframes move {

  0% {
    bottom: -100%;
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.heading__h2-sp {
  display: none;
  font-size: 16px;
}

.header__nav-sp {
  display: none;
}

@media screen and (max-width:767px) {
  body {
    overflow-x: hidden;
    /* 横スクロールバーを無効化 */
    overflow-y: auto;
    /* 縦スクロールは有効化 */
    background-color: #f5f4e9;
  }

  section {
    flex: auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 150px 50px;
  }

  .wrapper {
    display: block;
    width: 100%;
    height: auto;
    overflow: inherit;
    overscroll-behavior: none;
  }

  .header__nav {
    display: none;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .hamburger span {
    position: absolute;
    top: 15px;
    width: 20px;
    height: 2px;
    margin: 0;
    border-radius: 3px;
    background-color: #493c33;
  }

  .hamburger span::before {
    position: absolute;
    top: -12px;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background-color: #493c33;
    content: "";
    transition: .3s;
  }

  .open span {
    display: block;
    position: relative;
    top: -10px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: 3px solid #f5e4d7;
    /* 背景の薄い色 */
    border-radius: 50%;
    background-color: transparent;
  }

  .open span::before {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    /* 線の位置を調整 */
    width: 30px;
    height: 30px;
    border: 5px solid #ffffff;
    border-color: #ea9791;
    /* 下と右のみに色をつける */
    border-radius: 50%;
    background-color: transparent;
  }

  .heading__h2-sp {
    display: block;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    top: 120px;
    left: 35px;
  }

  .work .heading__h2-sp {
    top: 20px;
  }

  .skill .heading__h2-sp {
    top: 130px;
  }

  .contact .heading__h2-sp {
    top: 10px;
  }

  .balloon_1 {
    bottom: 0;
    animation: move 40s infinite linear;
  }

  .balloon_2 {
    bottom: 0;
    animation: move 35s infinite linear;
  }

  .balloon_3 {
    bottom: 0;
    animation: move 45s infinite linear;
  }

  @keyframes move {

    0% {
      bottom: 100%;
      opacity: 0;
    }

    3% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}


/* header */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 10px;
  width: 100vw;
  z-index: 2;
}

.header__inner p {
  font-size: 22px;
  line-height: 1.6;
}

.header__nav {
  gap: 80px;
}

.header__nav-sp {
  display: none;
}

.sns {
  display: flex;
  gap: 50px;
}

.sns .icon {
  width: 30px;
  height: auto;
}

/* header-btn */
.btn-loading {
  display: inline-block;
  opacity: 1 !important;
  position: relative;
  width: 130px;
  height: 66px;
  overflow: hidden;
  border-radius: 100%;
  color: #493c33;
  font-size: 16px;
  line-height: 66px;
  text-decoration: none;
  text-align: center;
  transition: all .8s ease;
}

.btn-loading a:hover {
  color: #493c33;
}

.btn-loading a:hover:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border: 2px solid transparent;
  /* 初期は透明 */
  border-top-color: #da3832;
  /* 初期の一部の色 */
  border-radius: 50%;
  content: "";
  animation: border-spin 2s linear infinite;
  /* ホバー時のアニメーション */
}

@keyframes border-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: #da3832 transparent transparent transparent;
  }

  25% {
    border-color: #da3832 #da3832 transparent transparent;
  }

  50% {
    border-color: #da3832 #da3832 #da3832 transparent;
  }

  75% {
    border-color: #da3832 #da3832 #da3832 #da3832;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #da3832 #da3832 #da3832 #da3832;
  }
}

.header__nav ul {
  display: flex;
  gap: 80px;
  font-size: 16px;
}

@media screen and (max-width:1000px) {
  .header__nav ul {
    gap: 30px;
  }
}

@media screen and (max-width:767px) {
  header{
    width: 100%;
  }

  .header__inner p {
    font-size: 16px;
  }
}

/* 「ツナグデザイン」配置 */
.site-title {
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding-bottom: 8vh;
  padding-left: 45px;
}

.site-title .title-pc {
  margin: 0;
  font-size: 42px;
  font-family: "FOT-筑紫Aオールド明朝 Pr6N L", "FOT-筑紫オールド明朝 Pro R", "TsukuOldMinPro-R", serif;
  writing-mode: vertical-rl;
}

.title-sp {
  display: none;
}

/* mainvisual */
.mainvisual {
  position: relative;
}

.top_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  margin: 0 auto;
}

/* スクロールバー */
.toppage_common-navi_controller {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: var(--layout-position-right);
  bottom: 20px;
  z-index: 60;
  width: 100vw;
  min-height: 2.75rem;
  padding-right: 5vw;
  gap: 5rem;
}

.common-page>span {
  display: block;
}

.common-navi_scrollbar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.common-scrollbar {
  padding-bottom: 12px;
}

.common-scrollbar_input {
  width: 400px;
  height: 2px;
  margin-left: 2px;
  border: 0;
  border-radius: 0;
  background: #493c33;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  --size: 1rem;
}

/* スライダーのthumb（丸）のスタイルを変更 */
input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  /* thumbの幅 */
  height: 16px;
  /* thumbの高さ */
  border: 2px solid #493c33;
  /* thumbの外枠の色 */
  border-radius: 50%;
  /* 丸形にする */
  background: #fcfbf5;
  /* ここで色を変更（赤に変更した例） */
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.common-page {
  display: flex;
}

.title-sp {
  display: none;
}

.scroll-image img {
  display: none;
}

@media screen and (max-width:767px) {
  .header__inner p {
    position: fixed;
    font-size: 16px;
    top: 20px;
    left: 20px;
  }

  .header__nav-sp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 45%;
    height: 60vh;
    background-color: #da3832;
    opacity: .5;
    border-bottom-right-radius: 8px;

  }

  .header__nav-sp ul {
    width: 100%;
    padding-inline: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__nav-sp li {
    margin-bottom: 16px;
    border-bottom: 1px solid #f5f4e9;
    color: #f5f4e9;
    font-size: 16px;
  }

  .mainvisual {
    height: 100vh;
    padding: 50px;
  }

  /* スクロールバー */
  .toppage_common-navi_controller {
    width: 100%;
    flex-direction: column;
    gap: 6rem;
    top: 30%;
    left: 44%;
    bottom: 80px;
    padding: 0;
    z-index: -1;
  }

  .common-navi_scrollbar {
    display: none;
  }

  /* .common-navi_scrollbar {
    transform: rotate(90deg);
  }

  .common-page {
    font-size: 13px;
  }

  .common-page>span {
    display: block;
  } */

  /* .common-scrollbar_input {
    width: 180px;
    height: 2px;
    margin-left: 2px;
    border: 0;
    border-radius: 0;
    background: #493c33;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    --size: 1rem;
  } */

  .sns {
    flex-direction: column;
    gap: 20px;
    padding-top: 45px;
  }

  .common-navi_copyright {
    transform: rotate(90deg);
    font-size: 13px;
  }

  .top_image {
    position: static;
    transform: none;
    max-width: 55%;
    padding-bottom: 40px;

  }

  .title_image {
    display: block;
    position: relative;
    padding-block: 80px;
  }

  .site-title {
    display: none;
  }

  .title-sp {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1;
  }

  .scroll-image img {
    display: block;
    width: 45%;
    margin: 0 auto;
  }

  /* フワフワアニメーション */
  @keyframes fuwafuwa {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  /* このクラスをつけると回転を無限に繰り返す */
  .scroll-image img {
    animation: 3s fuwafuwa infinite;
  }
}

/* profile */
.profile {
  position: relative;
  max-width: 100%;
}

.profile_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile_photo {
  width: 50%;
  height: auto;
  padding: 0 80px;
}

.profile_sentence {
  width: 50%;
  text-align: center;
}

.profile_name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 110px;
  padding-bottom: 24px;
  white-space: nowrap;
}

.name {
  text-align: center;
}

h2 {
  font-size: 38px;
  line-height: 1.4;
}

.small-name {
  font-size: 18px;
}

.designer {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.profile_sentence span {
  font-size: 48px;
  padding: 0 30px;
}

.sentence {
  text-align: start;
  font-size: 16px;
  line-height: 1.7;
  padding-bottom: 24px;
}

.profile .button {
  display: inline-block;
  width: 80%;
  padding: 16px 0;
  background: #fcfbf5;
  border: 2px solid #493c33;
  color: #493c33;
  border-radius: 50px;
  text-decoration: none;
}

.profile .button:hover {
  background: #fcfbf5;
  border: 2px solid #da3832;
}

.profile .button span {
  transition: all .8s;
}

.profile .button:hover span {
  color: #da3832;
  transition: all .8s;
}

.button span {
  font-size: 16px;
}

@media screen and (max-width:767px) {
  .profile {
    position: static;
  }

  .profile .heading__h2-sp {
    position: static;
  }

  .profile_wrapper {
    flex-direction: column;
    position: static;
    transform: unset;
    padding-inline: 40px;
  }

  .profile_photo {
    width: 100%;
    padding-inline: 25px;
  }

  .profile_sentence {
    width: 100%;
    /* padding-inline: 3vw; */
  }

  .profile_name {
    padding-inline: 0;
    padding-block: 20px;
  }

  .profile_name h2 {
    font-size: 26px;
  }

  .profile_name p {
    font-size: 12px;
  }

  .profile_sentence span {
    font-size: 32px;
    line-height: 1;
    padding: 0 12px;
  }

  .profile_name .designer {
    /* font-size: 14px; */
    display: none;
  }

  .sentence {
    font-size: 13px;
    width: 100%;
  }

  .profile .button {
    padding: 8px 0;
    border-radius: 50px;
  }

  .button span {
    font-size: 14px;
    line-height: 1;
  }
}

/* work */
.work {
  padding: 100px 3vw;
}

.work__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1210px;
  margin: 0 auto;
  row-gap: 25px;
  width: 60%;
}

.onimg {
  position: relative;
  width: 30%;
  transition: all 0.8s;
}


.onimg .cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
}

.onimg:hover .cursor {
  opacity: 1;
  transition: all 0.8s;
}

@media screen and (max-width:767px) {
  .work {
    padding: 0 3vw;
  }

  .work__inner {
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    width: 65%;
  }

  .onimg {
    width: 100%;
  }
}

/* skill */
.skill {
  position: relative;
  padding-top: 140px;
}

.skill__inner {
  display: flex;
  align-items: center;
  position: relative;
  transform: translate(-5vw, -140px);
  max-width: 775px;
  height: 100vh;
  margin: 0 auto;
}

.skill_box {
  height: 100vh;
}

.skill_box ul {
  width: 100%;
  padding-top: 25px;
  padding-left: 15px;
}

.skill_box li>div {
  position: relative;
  width: 90%;
  margin: 0 auto;
  /* max-width: 730px; */
  margin-bottom: 40px;
  padding: 35px 0;
  border: 2px solid #493c33;
  border-radius: 12px;
  background-color: #fcfbf5;
}

.skill_box li>div::before {
  position: absolute;
  right: -30px;
  bottom: -10px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
}

.skill_box .box1::before {
  background-image: url(../images/line_graphic.png);
}

.skill_box .box2::before {
  background-image: url(../images/line_graphic.png);
}

.skill_box .box3::before {
  background-image: url(../images/line_tool.png);
}

.skill_box li>div>p {
  max-width: 605px;
  margin: 0 auto;
  font-size: 20px;
}

.skill li {
  display: flex;
  align-items: center;
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  writing-mode: vertical-rl;
  padding-bottom: 35px;
}

.skill_box {
  position: relative;
  background-color: transparent;
}

.tool__inner {
  display: flex;
  justify-content: space-between;
  max-width: 605px;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 20px;
}

.tool_top {
  font-size: 22px;
}

.postscript {
  position: absolute;
  right: -230px;
  bottom: 110px;
  font-size: 18px;
  writing-mode: vertical-rl;
}

.coffee_postscript {
  display: flex;
  flex-flow: column;
}

.sax {
  position: absolute;
  bottom: 200px;
  left: 8rem;
  max-width: 280px;
  height: auto;
  padding-right: 60px;
}

.coffee {
  position: absolute;
  top: -3rem;
  right: 10rem;
  max-width: 230px;
  height: auto;
  z-index: -1;
}

@media screen and (max-width:1000px) {
  .skill__inner {
    max-width: 500px;
  }

  .skill_box li>div {
    padding: 30px 10px;
  }
}

@media screen and (max-width:767px) {
  .skill {
    padding-inline: 3vw;
  }

  .skill li {
    display: block;
  }

  .skill__inner {
    display: block;
    transform: none;
    width: 75%;
    height: auto;
  }

  .subtitle {
    font-size: 20px;
    padding-inline: 40px;
    padding-bottom: 0;
    writing-mode: unset;
  }

  .skill_box ul {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto;
  }


  .skill_box li>div {
    margin-bottom: 16px;
    padding: 20px;
  }

  .skill_box li>div::before {
    right: -16px;
    bottom: -8px;
  }

  .skill_box li>div>p {
    font-size: 16px;
    padding-left: 0;
  }

  .tool__inner {
    flex-direction: column;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 0;
    padding-bottom: 16px;
  }

  .tool__inner:last-child {
    padding-bottom: 0;
  }

  .tool_top {
    font-size: 20px;
    line-height: 1.2;
  }

  .tool {
    font-size: 16px;
  }

  .postscript {
    position: static;
    font-size: 14px;
    writing-mode: unset;
    padding: 8px 40px;
  }

  .sax {
    display: none;
  }

  .coffee {
    display: none;
  }
}

/* contact */
.contact {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 16px;
  padding-left: 150px;
}

.c-form__item {
  padding-bottom: 20px;
}

.c-form {
  width: 50%;
}

.c-form__label {
  display: block;
  padding-left: 20px;
}

.c-form__input {
  width: 100%;
  height: 15px;
  padding: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 10px;
  font-size: 16px;
  color: #493c33;
  font-family: "ヒラギノ明朝 ProN W3", serif;
}

#field-message {
  width: 100%;
  height: 140px;
  padding: 20px;
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 15px;
  font-size: 16px;
  color: #493c33;
  font-family: "ヒラギノ明朝 ProN W3", serif;
}

.attention {
  padding: 0 20px 40px;
}

.after-sending {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-form__submit {
  text-align: center;
}

.c-form__submit button {
  display: inline-block;
  padding: 16px 130px;
  border: 2px solid #493c33;
  border-radius: 50px;
  background-color: #fcfbf5;
  transition: all .8s;
  font-size: 16px;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W3", serif;
}

.c-form__submit button:hover {
  color: #da3832;
  background: #fcfbf5;
  border: 2px solid #da3832;
  transition: all .8s;
}

.last-title {
  display: none;
}

.display {
  width: 50%;
}

/* 送信後メッセージを出す */
.after-sending p {
  writing-mode: vertical-rl;
  color: #da3832;
  font-size: 24px;
  display: none;
}

.after-sending img {
  width: 380px;
}


@media screen and (max-width:1200px) {
  .after-sending img {
    max-width: 200px;
  }

  .c-form__input {
    width: 70%;
  }

  .c-form__input {
    width: 70%;
  }

  #field-message {
    width: 70%;
  }
}

@media screen and (max-width:767px) {
  .contact {
    display: block;
    padding: 0;
  }

  .c-form {
    width: 100%;
  }

  .c-form__label {
    padding-left: calc(35% / 2);
  }

  .c-form__input {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 20px;
  }

  #field-message {
    width: 65%;
    height: 120px;
  }

  .c-form__item {
    padding-bottom: 18px;
  }

  .attention {
    display: inline-block;
    padding-inline: calc(35% / 2);
    padding-bottom: 24px;
  }

  .after-sending p {
    display: none;
  }

  .c-form__submit button {
    width: 60%;
    padding: 8px 0;
    font-size: 14px;
    line-height: 2;
    color: #493c33;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", "Hiragino Mincho ProN", "A1 Mincho", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }

  /* 送信後メッセージを出す */
  .display {
    width: 100%;
}

.after-sending p {
  writing-mode: horizontal-tb;
  font-size: 16px;
  padding-top: 8px;
  /* text-align: center; */
}
  
  .after-sending img {
    display: none;
  }

  .last-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-block: 50px;
  }
}

/* ---------------------------------------- */

/* workページ */
.work-body {
  overflow-x: hidden;
  /* 横スクロールバーを無効化 */
  overflow-y: auto;
  /* 縦スクロールは有効化 */
  background-color: #f5f4e9;
}

.work-wrapper {
  width: 100%;
}

.work_sns {
  padding: 45px 3%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.x-icon {
  padding-bottom: 20px;
}

.work_container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-inline: 8%;
}

.works {
  position: absolute;
  width: 45%;
  top: 85px;
  left: 50%;
}

.work_image {
  background-color: #fcfbf5;
  border: 2px solid #493c33;
  border-radius: 12px;
  padding: 12%;
  margin-bottom: 45px;
}

.work_image img {
  width: 100%;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
}

.work_text {
  position: fixed;
  bottom: 12px;
  width: 35%;
}

.work_text p {
  font-size: 16px;
  padding-top: 24px;
}

.work_text a {
  font-size: 14px;
  padding-block: 24px;
}

.work_text a:hover {
  color: #da3832;
}

.work_common-navi_copyright {
  padding-block: 24px;
}

@media screen and (max-width:767px) {
  .work-pc {
    display: none;
  }

  .work_container {
    position: static;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    padding-inline: 12%;
  }

  .works {
    position: static;
    width: 100%;
  }

  h3 {
    font-size: 28px;
  }

  .work_text {
    position: static;
    width: 100%;
  }

  .work_text p {
    font-size: 18px;
    padding-top: 24px;
  }
}
